body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3f3f3f;
}

.container {
  width: 400px;
  margin: 80px auto;
  padding: 25px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

input {
  width: 70%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-section button {
  background-color: #007bff;
  color: white;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.task-list li {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list li button {
  background-color: #dc3545;
  color: white;
}
