body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3f3f3f;
}

.container {
  text-align: center;
  margin-top: 80px;
  background-color: gray;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #333;
}

h2 {
  font-size: 28px;
  color: #1de5ff;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.increment {
  background-color: #28a745;
  color: white;
}

.decrement {
  background-color: #dc3545;
  color: white;
}
