body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #28285b;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

h1 {
  font-size: 60px;
  margin: 20px 0;
  color: #ffe416;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.buttons button:nth-child(1) {
  background-color: #28a745;
}

.buttons button:nth-child(2) {
  background-color: #dc3545;
}

.buttons button:nth-child(3) {
  background-color: #007bff;
}

.buttons button:hover {
  opacity: 0.8;
}